@layer reset;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    cursor: default;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
  }

  html,
  body,
  #root {
    min-height: 100%;
  }

  body {
    min-width: 320px;
    margin: 0;
  }

  h1,
  h2,
  p {
    margin: 0;
  }

  a {
    color: inherit;
    font: inherit;
  }

  input:not([type]),
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="url"],
  textarea,
  [contenteditable]:not([contenteditable="false"]) {
    cursor: text;
  }
}
